@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&family=Montserrat:ital@0;1&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #001524;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'BioRhyme', serif;
    color: inherit;
    letter-spacing: 1px;
}

/* Header */
header {
    background-color: #63B42D;
    padding: .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #001524;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#logo {
    color: #ff9301;
    background: #34623F;
    padding: 0 5px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo h1 {
    font-size: 2em;
}

#mobile-nav-items {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
}

#mobile-nav-items li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px solid #001524;
}

/* Navbar dropdown menu */
#mobile-nav-bar {
    position: absolute;
    background-color: #ff9301;
    width: 100%;
    left: 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    box-shadow: 0 2px 2px #001524;
    display: none;
    top: 99%;
}

/* Nav toggle */
#nav-toggle:checked~#mobile-nav-bar {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Desktop Nav Bar */

#desktop-nav-bar {
    display: none;
    align-self: center;
    font-size: 1.7em;
    margin: 0.5rem 0 0 0;
    background-color: #ff9301;
    width: 100%;
    text-align: center;
}

.desktop-nav-link {
    margin-right: 1rem;
}

/* Main Content */
main {
    background-color: #f7f7f7;
    /* Use flex grow to take up surplus space and push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: violet;
}

/* Media query: narrow screen size (340px and under) */
@media screen and (max-width: 340px) {
    #logo h1 {
        font-size: 1.6em;
    }

    .nav-toggle-label {
        font-size: 1.6rem;
    }
}

/* Media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) {
    /* Desktop nav bar */

    header {
        padding: 0.5rem 0 0 0;
    }

    #logo {
        align-self: center;
        }

    #logo h1 {
        font-size: 3em;
    }

    .nav-toggle-label {
        display: none;
    }

    header {
        justify-content: center;
        flex-direction: column;
    }

    #desktop-nav-bar {
        display: block;
    }

    

}