@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&family=Montserrat:ital@0;1&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #001524;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'BioRhyme', serif;
    color: inherit;
    letter-spacing: 1px;
}

/* Header */
header {
    background-color: #63B42D;
    padding: .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 10px #34623F;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#logo {
    color: #ff9301;
    background: #34623F;
    padding: 0 5px;
    border-radius: 15px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo h1 {
    font-size: 2em;
}

/* Mobile nav bar */
#mobile-nav-items {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
}

#mobile-nav-items li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px solid #001524;
}

/* Navbar dropdown menu */
#mobile-nav-bar {
    position: absolute;
    background-color: #ff9301;
    width: 100%;
    left: 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    box-shadow: 0 2px 2px #001524;
    display: none;
    top: 99%;
}

/* Nav toggle */
#nav-toggle:checked~#mobile-nav-bar {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Desktop Nav Bar */

#desktop-nav-bar {
    display: none;
    align-self: center;
    font-size: 1.7rem;
    margin: 0.5rem 0 0 0;
    background-color: #ff9301;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

.desktop-nav-link {
    margin-right: 1.5rem;
}

/* Main Content */

/* General Main Styles */

main {
    /* Use flex grow to take up surplus space and push footer down */
    flex: 1 0 auto;
    margin-top: 66px;
}

.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    height: 62vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    background-color: #ff9301;
    color: #001524;
    font-size: 230%;
    text-align: center;
    padding: 0 8px;
}

.page-heading {
    text-align: center;
    margin: 30px auto;
    font-size: 180%;
    background-color: rgba(99, 180, 45, 0.8);
    width: 80vw;
    border-radius: 15px;
}

.border-shadow {
    border-radius: 15px;
    box-shadow: 3px 4px 2px #34623F;
}

/* Home Page */

/* Home Hero Image */

#home-hero {
    background: url("../images/home-hero-pawfect-pups.webp") no-repeat 37% 80%/135%;
}

/* Welcome section */
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generic-div {
    width: 80vw;
    margin-top: 30px;
}

.generic-div p {
    text-align: center;
}

#welcome h2 {
    background-color: #ff9301;
    color: #001524;
    font-size: 200%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 4px 2px #34623F;
    width: 80vw;
    margin-top: 30px;
}

#slogan h3 {
    text-align: center;
    margin: 10px 20px;
}

#welcome-quote {
    background-color: rgba(99, 180, 45, 0.4);
    padding: 10px 15px;
    border-radius: 15px;
    width: 55vw;
    margin-top: 30px;
}

#welcome-quote > p {
    text-align: end;
    margin-top: 5px;
}

/* Head over to section */
#head-over-to {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#about-box-image {
    background: url("../images/head-over-to-dog-1.webp") no-repeat center 10%/cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.47);
    color: white;
}

#classes-box-image {
    background: url("../images/head-over-to-dog-2.webp") no-repeat center center/cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.47);
    color: white;
}

#booking-box-image {
    background: url("../images/head-over-to-dog-3.webp") no-repeat center 25%/cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.47);
    color: white;
}

.home-links {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    padding: 29px 20px;
    text-align: center;
    border-radius: 15px;
}

.home-links p {
    font-size: 1.1rem;
    font-family: 'biorhyme';
}

#head-over-to a {
    text-decoration: none;
}

#head-over-to div:hover {
    color: #ff9301;
    background-color: #34623F;
    background-blend-mode: multiply;
}


/* About Page */

/* About Hero */

#about-hero {
    background: url("../images/about-hero.webp") no-repeat 40% 58%/300%;
}

/* Trainers Section */

#trainers {
    margin-top: 30px;
}

.trainers-image-box {
    height: 300px;
    width: 250px;
    margin: 20px;
}

.trainers-image-box img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;    
}

#trainer-mark {
    object-position: 0 75%;
}

#trainer-beth {
    object-position: 0 100%;
}

#trainer-joe {
    object-position: 0 100%;
}

.trainer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainer-bio {
    background-color: rgba(255, 147, 1, 0.9);
    width: 85vw;
    margin-bottom: 60px;
    text-align: center;
    font-size: 120%;
    padding: 5px 15px 15px 15px;
}

.trainer-bio h4 {
    margin: 8px;
}

/* Benefits Section */

#benefits {
    margin-top: 30px;
}

.benefits-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 147, 1, 0.9);
    width: 85vw;
    margin-bottom: 60px;
    text-align: center;
    font-size: 120%;
    padding: 5px 15px 15px 15px;
}

.benefits-text h4 {
    margin: 8px;
}

.benefits-image-box {
    height: 300px;
    width: 300px;
    margin: 20px;
}

.benefits-image-box img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;    
}

#benefits-dog-walking {
    object-position: 0 75%;
}

#benefits-pug {
    object-position: 50% 75%;
}

#benefits-puppies {
    object-position: 50% 75%;
}

#benefits-home-dog {
    object-position: 0 75%;
}

/* Classes */

/* Classes Hero */
#classes-hero {
    background: url("../images/classes-hero.webp") no-repeat 42% 0%/cover;
}

/* Classes Section */

.classes-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 147, 1, 0.9);
    width: 85vw;
    border-radius: 15px;
    margin-bottom: 60px;
    padding-bottom: 40px;
}

.classes-box h4 {
    margin-top: 15px;
    font-size: 180%;
}

.classes-image-box {
    height: 300px;
    width: 250px;
    margin: 20px;
}

.classes-image-box img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

#classes-big-dog-with-ball {
    object-position: 35% 100%;
}

#classes-small-dog {
    object-position: 50% 100%;
}

#classes-small-dog-with-ball {
    object-position: 40% 100%;
}

#classes-show-dog {
    object-position: 40% 100%;
}

.classes-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(99, 180, 45, 0.8);
    width: 75vw;
    text-align: center;
    font-size: 120%;
    padding: 10px 15px;
}

/* Booking */

#booking-hero {
    background: url("../images/booking-hero.webp") no-repeat 45% 70%/250%;
}

.block {
    display: block;
}

form {
    background-color: rgba(255, 147, 1, 0.9);
    width: 90vw;
    margin: 30px auto;
    padding: 10px 10px 25px;
    max-width: 600px;
}

form h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    text-align: center;
}

.form-label {
    font-size: 1.1em;
    margin-left: 10px;
}

.form-input {
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 80%;
}

select {
    font-size: 1em;
    margin-left: 10px;
    width: 80%;
}

fieldset {
    border: none;
    margin: 20px 0;
}

legend {
    font-size: 1.1em;
    margin-left: 10px;
}

#checkbox-box div {
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
    width: 220px;
    margin: 0 auto;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-label {
    margin-top: 10px;
    background-color: #34623F;
    color: #f7f7f7;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 1.1rem;
}

input[type="checkbox"]:checked+label {
    background-color: #63B42D;
    color: #001524;
}

#submit-box {
    display: flex;
    justify-content: space-evenly;
}

.submit {
    margin-top: 20px;
    background-color: #34623F;
    color: #f7f7f7;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 1.1rem;
}

.reset {
    margin-top: 20px;
    background-color: #f7f7f7;
    color: #34623F;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 1.1rem;
}

aside {
    background-color: rgba(99, 180, 45, 0.9);
    width: 80vw;
    margin: 30px auto;
    padding: 20px 0 30px;
    text-align: center;
    max-width: 600px;
}

aside > h3 {
    font-size: 1.7em;   
}

aside > div {
    width: 80%;
    margin: 0 auto;
}

.how-to-box i {
    max-width: 80px;
    margin: 25px auto;
    display: block;
    font-size: 500%;
}

.how-to-box h3 {
    margin-bottom: 5px;
}

.how-to-box p {
    font-size: 1.1rem;
}

/* Completed booking form */

#completed-hero {
    background: url("../images/form-hero.webp") no-repeat center 35%/cover;
}

#completed-text {
    text-align: center;
    margin: 30px 20px;
    font-size: 130%;
}

#completed-text h3 {
    margin: 20px 0;
}

#completed-text p {
    margin-bottom: 40px;
}

.link-button {
    margin-top: 30px;
    background-color: #34623F;
    color: #f7f7f7;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-decoration: none;
}

/* Contact */

#contact-hero {
    background: url("../images/contact-hero.webp") no-repeat 40% 100%/250%;
}

.contact-box {
    text-align: center;
    background-color: rgba(255, 147, 1, 0.9);
    width: 80vw;
    height: 320px;
    margin-top: 40px;
}

.contact-box h3 {
    font-size: 190%;
    margin: 15px;
}

#details ul {
    list-style-type: none;
    font-size: 120%;
}

#li-margin {
    margin-bottom: 15px;
}

table {
    text-align: center;
    margin: 0 auto;
    font-size: 130%;
}

#map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#map h2 {
    font-size: 190%;
    margin: 40px;
    background-color: rgba(99, 180, 45, 0.8);
    padding: 5px 15px;
}

iframe {
    width: 80vw;
    height: 60vw;  
}

/* Footer */
footer {
    background-color: #63B42D;
    margin-top: 40px;
    
}

#footer-icons {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px 0;
}

#footer-icons i {
    font-size: 300%;
    color: #001524;
}

/* Media query: (360px and under) */
@media screen and (max-width: 360px) {
    .page-title {
        font-size: 170%;
    }

    .contact-box h2 {
        font-size: 170%;
    }

    #details ul {
        font-size: 110%;
    }

     #map h2 {
        font-size: 170%;
    }
}

/* Media query: narrow screen size (340px and under) */
@media screen and (max-width: 340px) {
    /* Logo size stying */
    #logo h1 {
        font-size: 1.6em;
    }

    .nav-toggle-label {
        font-size: 1.6rem;
    }

    /* Main */
    main {
        margin-top: 56px;
    }

    .page-title {
        font-size: 170%;
    }

    /* About */
    #about-hero {
        background: url("../images/about-hero.webp") no-repeat 40% 100%/300%;
    }

    /* Classes */
    .classes-image-box {
        height: 250px;
        width: 200px;
    }

     .classes-image-box img {
        height: 250px;
        width: 200px;
    }

    /* Booking */
    form {
        width: 80vw;
    }

    #submit-box {
        flex-direction: column;
    }

    /* Completed Form */
    #completed-text {
        font-size: 100%;
    }

    .link-button {
        font-size: 1.2rem;
    }

    /* Contact */
    .contact-box {
        height: 250px;
    }

    .contact-box h2 {
        font-size: 140%;
        margin: 10px;
    }

    #details ul {
        font-size: 93%;
    }

    table {
        font-size: 100%;
    }

    #map h2 {
        font-size: 140%;
    }

}

/* Media query: (450px and up) */
@media screen and (min-width: 450px) {
    #contact-hero {
        background: url("../images/contact-hero.webp") no-repeat 40% 100%/170%;
    }

    .classes-box {
        width: 390px;
    }

    .classes-text {
        width: 340px;
    }

    /* Booking */
    #booking-hero {
        background: url("../images/booking-hero.webp") no-repeat 45% 50%/220%;
    }

    /* Booking */
    #submit-box {
        width: 350px;
        margin: 0 auto;
    }

    legend {
        margin: 0 auto 10px;
    }
}

/* Media query: (640px and up) */
@media screen and (min-width: 640px) {
    #contact-hero {
        background: url("../images/contact-hero.webp") no-repeat 40% 100%/145%;
    }

    /* Booking */
    #booking-hero {
    background: url("../images/booking-hero.webp") no-repeat 45% 50%/160%;
    }

    form h3 {
        font-size: 180%;
    }

    aside > h3 {
        font-size: 180%;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Home */
    #home-hero {
        background: url("../images/home-hero-pawfect-pups.webp") no-repeat 26% 80%/115%;
    }

    #welcome h2 {
        font-size: 250%;
    }

    #slogan h3 {
        font-size: 130%;
    }

    #head-over-to {
        flex-direction: row;
        justify-content: center;
        gap: 25px;
    }

    /* About */

    #about-hero {
    background: url("../images/about-hero.webp") no-repeat 40% 53%/230%;
    }

    .page-heading {
        font-size: 250%;
    }

    .trainers-image-box {
    height: 400px;
    width: 350px;
    }

    .trainers-image-box img {
    width: 350px;
    height: 400px; 
    }

    .benefits-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    .benefits-image-box {
        margin-left: 0;
    }

    .benefits-text {
        width: 400px;
        margin-bottom: 0;
        height: 300px;
    }

    /* Classes */

    #classes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1400px;
        margin: 0 auto;
    }

    .classes-box {
        width: 345px;
        height: 750px;
    }

    .classes-image-box {
        height: 350px;
        width: 300px;
    }

     .classes-image-box img {
        height: 350px;
        width: 300px;
    }

    .classes-text {
        width: 300px;
        height: inherit;
    }

    /*Booking */
    #booking-hero {
    background: url("../images/booking-hero.webp") no-repeat 45% 50%/150%;
    }

    legend {
        margin-left: 10px;
    }

    #checkbox-box div {
        margin-left: 40px;
    }

    /* Contact */
    #contact-hero {
        background: url("../images/contact-hero.webp") no-repeat 40% 80%/135%;
    }

    #info {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .contact-box {
        width: 40vw;
        height: 40vw;
        max-width: 400px;
        max-height: 400px;
    }

    .contact-box h3 {
        font-size: 1.8rem;
    }

    #details ul {
        font-size: 1.15rem;
    }

    table {
        font-size: 1.2rem;
    }

    #map h2 {
        font-size: 300%;
    }

    iframe {
        height: 45vw;
        max-height: 450px;
        max-width: 1120px;
    }
}

/* Media query: horizontal phones (height 500px and under) */
@media screen and (max-height: 500px) {
    #home-hero {
        background: url("../images/home-hero-pawfect-pups.webp") no-repeat 40% 54%/115%;
    }

    #about-hero {
        background: url("../images/about-hero.webp") no-repeat 40% 52%/100%;
    }

    #classes-hero {
        background: url("../images/classes-hero.webp") no-repeat 100% 0%/120%;
    }

    #booking-hero {
        background: url("../images/booking-hero.webp") no-repeat 45% 40%/150%;
    }

    #contact-hero {
        background: url("../images/contact-hero.webp") no-repeat 40% 60%/100%;
    }
}

/* Media query: Laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    /* Desktop nav bar styling */
    header {
        padding: 0.5rem 0 0 0;
        justify-content: center;
        flex-direction: column;
    }

    #logo {
        align-self: center;
        }

    #logo h1 {
        font-size: 3em;
    }

    .nav-toggle-label {
        display: none;
    }

    #desktop-nav-bar {
        display: block;
    }

    .active {
        background-color: #34623F;
        color: #f7f7f7;
        padding: 2px 5px;
        border-radius: 10px;
    }

    #desktop-nav-bar a:hover {
        color: #001524;
        background-color: #63B42D;
        padding: 0 2px;
        border-radius: 10px;

    }

    /* Main */
    main {
        margin-top: 140px;
    }

    /* Home */
    #home-hero {
        background: url("../images/home-hero-pawfect-pups.webp") no-repeat 26% 58%/100%;
    }

    #welcome {
        max-width: 1400px;
        margin: 0 auto;
    }

    #welcome h2 {
        width: 50vw;
        font-size: 270%;
    }

    #welcome-quote {
        font-size: 130%;
        max-width: 1400px;
    }

    .generic-div p {
        font-size: 130%;
    }

    .home-links {
        width: 250px;
        height: 250px;
    }

    .home-links p {
        font-size: 1.48rem;
    }

    #head-over-to {
        margin-top: 60px;
    }

    /* About */
    #about-hero {
    background: url("../images/about-hero.webp") no-repeat 20% 53%/110%;
    }

    .page-heading {
        width: 50vw;
        font-size: 270%;
    }

    #head-over-to {
        gap: 60px;
    }

    #trainers {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
        max-width: 1400px;
        margin: 0 auto;
    }

    .trainers-image-box {
        height: 350px;
        width: 300px;
    }

    .trainers-image-box img {
        width: 300px;
        height: 350px;
    }

    .trainer-bio {
        width: 300px;
        height: 330px;
    }

    .benefits-image-box {
        height: 400px;
        width: 400px;
        margin: 20px;
    }

    .benefits-image-box img {
        width: 400px;
        height: 400px;
    }

    .benefits-text {
        width: 500px;
        height: 400px;
        font-size: 140%;
    }

    .benefits-text h4 {
        font-size: 120%;
    }

    /* Classes */
    .classes-box {
        width: 450px;
        height: 800px;
    }

    .classes-box h4 {
        font-size: 240%;
    }

    .classes-image-box {
        height: 400px;
        width: 350px;
    }

     .classes-image-box img {
        height: 400px;
        width: 350px;
    }

    .classes-text {
        width: 350px;
    }

    /* Booking */
    #booking-hero {
    background: url("../images/booking-hero.webp") no-repeat 45% 50%/100%;
    }

    #main-booking-box {
        display: flex;
        justify-content: space-evenly; 
        max-width: 1100px;
        margin: 0 auto;
    }

    form {
        max-width: 500px;
        height: 850px;
    }

    form h3 {
    font-size: 190%;
    margin: 15px 0;
    }

    .form-label {
    font-size: 1.4em;
    margin: 5px 10px;
    }

    .form-input {
        font-size: 1.2em;
    }

    fieldset {
        margin: 30px 0;
    }

    legend {
    font-size: 1.4em;
    margin: 5px 10px;
    }

    #checkbox-box {
        margin-top: 10px;
    }

    #checkbox-box div {
        width: 230px;
    }

    .checkbox-label {
        font-size: 1.2rem;
    }

    .submit {
        font-size: 1.35rem;
    }

    .reset {
        font-size: 1.35rem;
    }

    aside {
        max-width: 360px;
        margin: 30px 0;
        height: 850px;
    }

    aside > div {
        width: 90%;
    }

    .how-to-box i {
    margin: 20px auto;
    font-size: 450%;
    }

    .checkbox-label:hover {
    background-color: #63B42D;
    color: #001524;
    cursor: pointer;
    }

    .submit:hover {
    background-color: #63B42D;
    color: #001524;
    cursor: pointer;
    }

    .reset:hover {
    background-color: #63B42D;
    color: #001524;
    cursor: pointer;
    }

    /* Completed form */

    #completed-hero {
    background: url("../images/form-hero.webp") no-repeat center 29%/cover;
    }

    #completed-text {
        font-size: 150%;
        max-width: 920px;
        margin: 40px auto;
    }

    .link-button {
        font-size: 1.7rem;
    }

    .link-button:hover {
    background-color: #ff9301;
    color: #001524;
    cursor: pointer;
}

    /* Contact */
    #contact-hero {
        background: url("../images/contact-hero.webp") no-repeat 40% 60%/100vw;
    }

    .contact-box {
        max-width: 400px;
        max-height: 400px;
    }

    .contact-box h3 {
        font-size: 2rem;
    }

    #details ul {
        font-size: 1.5rem;
    }

    table {
        font-size: 1.6rem;
    }

/* Footer */

    #footer-icons i:hover {
        color: #ff9301;
    }
}

/* Media query: Desktops and larger (1340px and up) */
@media screen and (min-width: 1340px) {
    /* Home */

    .home-links {
        width: 300px;
        height: 300px;
        padding: 40px 20px;
    }

    .home-links p {
        font-size: 1.7rem;
    }

    /* About */
    #about-hero {
    background: url("../images/about-hero.webp") no-repeat 20% 37%/110%;
    }
    
    /* Classes */
    .classes-box {
        width: 550px;
        height: 950px;
    }

    .classes-image-box {
        height: 500px;
        width: 450px;
    }

     .classes-image-box img {
        height: 500px;
        width: 450px;
    }

    .classes-text {
        width: 450px;
        height: inherit;
        font-size: 160%;
    }

    /* Booking */
     #booking-hero {
    background: url("../images/booking-hero.webp") no-repeat 45% 40%/100%;
    }

    /* Completed form */
    #completed-text {
        max-width: 1200px;
    }

    /* Contact */
    #info {
        max-width: 1400px;
        margin: 0 auto;
    }

}