@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&family=Montserrat:ital@0;1&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #001524;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'BioRhyme', serif;
    color: inherit;
}

/* Header */
#main-head-box {
    background-color: #63B42D;
    padding: 8px 5px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo h1 {
    font-size: 2em;
}

#logo {
    text-align: left;
    color: #ff9301;
    background: #34623F;
    width: max-content;
    padding: 0 5px;
}

/* Main Content */
main {
    background-color: #f7f7f7;
    /* Use flex grow to take up surplus space and push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: violet;
}

/* Media query: narrow screen size (330px and under) */
@media screen and (max-width: 330px) {
    #logo h1 {
        font-size: 1.6em;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    #logo {
        text-align: center;
    }
}